.header-div {
    background-image: url("../image/Banner\ Image.png");
    margin: 10px auto;
    width: 1320px;
    height: 600px;
    justify-content: center;
    position: relative;
    border-radius: 16px;

}

.header-div h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    padding: 160px 500px 10px 500px;
    position: absolute;
}

.header-div h1 {
    color: #FFF;
    font-size: 72px;
    padding: 230px 300px 160px 300px;
    text-align: center;
    position: absolute;
}

.header-back h1,
h3 {
    color: #F00;
    font-family: Inter;

}

.header-back h1 {
    font-size: 80px;
    margin-bottom: 20px;
}

h3 {
    font-size: 15px;
    /* margin-top: 50px; */
    /* padding-top: 20px; */

}

h2 {
    color: #070211;
    font-size: 48px;
    margin-bottom: 20px;
}

.header-back {
    text-align: center;
}

.header-bg {
    background-image: url("../image/Vectorrr.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px auto;
    justify-content: center;

}

#party h1 {
    position: absolute;
    color: #FFF;
    font-size: 50px;
    top: 150px;

}

#party h4 {
    margin-right: 500px;
    color: #FFF;
    ;
}

.header-bg #party {
    padding-left: 120px;
}

.header-bg div img {

    position: absolute;
    padding-right: 200px;
}

.div-img {
    width: 100%;
    text-align: center;
}

.heder-section {
    text-align: center;
}

#GIFTS {
    padding-left: 140px;

}

section header {
    width: 1600px;
    height: 7335px;
    margin: 20px auto;
}

section div img:hover {
    padding: 10px;
    background-color: rgb(250, 5, 5);
}

.div-subscribe {
    display: flex;
    justify-content: center;
    font-size: larger;
    border-radius: 100%;
}

.section-newsletter {
    background: rgba(245, 143, 143, 0.05);
    width: 1320px;
    height: 616px;
    margin: auto;
    text-align: center;
    /* padding: 80px 150px; */
}

.div-subscribe form {
    /* display: flex; */
}

.footer-facebook {
    background-color: aqua;
    width: 1600px;
    height: 609px; 
    margin: auto;
    
}

.footer-con {
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    /* padding:20px 200px; */

}
.footer-img{
    text-align: center;
    padding-top: 30px;
    gap: 20px;
}
 .reserved-div {
    /* justify-content: space-between; */
}
 div > p > #Unsubscribe{
    margin-right: 120px;
}